*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-title {
    font-size: 1.5em;
    margin: 15px 0;
}

.product-description {
    color: #777;
    padding: 0 15px;
}

.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 15px 0;
}

.shop-now-button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

.shop-now-button:hover {
    background-color: #e55b50;
}
.button {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .button:hover {
    box-shadow: .5px .5px 150px #252525;
  }
  
  .type1::after {
    content: "Buy Now";
    height: 50px;
    width: 150px;
    background-color: #008080;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "See Product";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: #008080;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }